<!doctype>
<html ng-app="starFoz">
  <head>
    <title>StarFoz</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="lib/angular/angular-csp.css">
  </head>
  <body ng-cloak ng-controller="RootController">

    <!-- <sf-header></sf-header> -->
    <header>
      <sf-user-connectivity></sf-user-connectivity>
      <h2>{{ bemVindo }}</h2>
      <!--<h2>Olá, bem vindo ao {{ ::appInfo.name | reverse }}</h2>-->
      <h2>Olá, bem vindo ao {{ ::appInfo.name }}</h2>
      <!-- "star foz" | reverse => "zof ratr" -->
      <a ng-hide="isLogged" href="#/login">Entrar</a>
      <a ng-show="isLogged" href="" ng-click="logout()">Sair</a>
    </header>

    <!-- <sf-menu></sf-menu> -->
    <aside ng-if="isLogged">
      <ul>
        <li ng-if=" currentUser.role === 'Owner' ">
          <a href="#/users">Usuários</a>
        </li>
        <li ng-if=" currentUser.role === 'Owner' ">
          <a href="#/metrics">Métricas</a>
        </li>
        <li ng-if=" currentUser.role === 'Contributor' ">
          <a href="#/tips">Dicas</a>
        </li>
      </ul>
    </aside>

    <section ng-view></section>

    <!-- <sf-footer></sf-footer> -->
    <footer>
      <!-- v0.1 -->
      v{{ ::appInfo.versionCode }} - {{ ::appInfo.versionName }} - Copyright {{ ::copyrightYear }}
    </footer>

    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular-messages.min.js"></script>
    <script type="text/javascript" src="lib/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="src/controllers/RootController.js"></script>
    <script type="text/javascript" src="src/controllers/LoginController.js"></script>
    <script type="text/javascript" src="src/controllers/UsersController.js"></script>
    <script type="text/javascript" src="src/controllers/MetricsController.js"></script>
    <script type="text/javascript" src="src/services/customAuth.js"></script>
    <script type="text/javascript" src="src/services/users.js"></script>
    <script type="text/javascript" src="src/services/metrics.js"></script>
    <script type="text/javascript" src="src/services/clientErrors.js"></script>
    <script type="text/javascript" src="src/services/customExceptionHandler.js"></script>
    <script type="text/javascript" src="src/directives/sfUsernameAvailable/sfUsernameAvailable.js"></script>
    <script type="text/javascript" src="src/directives/sfSameValue/sfSameValue.js"></script>
    <script type="text/javascript" src="src/directives/sfUserConnectivity/sfUserConnectivity.js"></script>
    <script type="text/javascript" src="src/filters/reverse.js"></script>
    <script type="text/javascript" src="src/interceptors/customInterceptor.js"></script>
  </body>
</html>








