<form name="loginForm" novalidate>
  {{ 'USERNAME' | translate }}: <input type="text" name="username" ng-model="user.username" required><br>
  {{ 'PASS' | translate }}: <input type="password" name="pass" ng-model="user.pass" required><br>
  <input type="hidden" name="credentials" ng-model="user.credentials">
  <input type="submit" value="{{ 'LOGIN' | translate }}" ng-disabled="loginForm.username.$invalid || loginForm.pass.$invalid || !loginForm.$dirty" ng-click="login()">
  <button ng-click="resetForm()">{{ 'RESET' | translate }}</button>

  <div ng-messages="loginForm.credentials.$error" ng-show="loginForm.credentials.$invalid">
    <span ng-message="unauthorized">{{ 'ERROR_INVALID_CREDENTIALS' | translate }}</span>
  </div>
</form>